body {
  font-family: 'PT Sans', sans-serif;
  color: #000000;
  background-color: #f2f2f2;
  margin: 0;
}

h1 {
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 26px;
}

h2 {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 21px;
  color: #000000;
}

p {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 24px;
}

.container {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

/* Main page. Header */

.main-header {
  width: 1200px;
  margin: 0 auto;
}

.main-navigation-item {
  display: inline-block;
  width: 240px;
  vertical-align: middle;
}

.main-navigation-item:nth-child(2) {
  margin-right: 240px;
}

.navigation-items {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 0;
}

.navigation-items a {
  display: inline-block;
  width: 100%;
  padding-top: 18px;
  padding-bottom: 19px;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.main-header-logo {
  position: absolute;
  left: 50%;
  top: 0;
  display: block;
  width: 138px;
  margin-left: -69px;
}

/* Main page. Content */

.jumbotron {
  display: block;
  min-height: 508px;
  width: 1200px;
  background-image: url("../img/jumbotron_main.jpg");
  background-repeat: no-repeat;
}

.jumbotron-copy {
  position: absolute;
  left: 50%;
  margin-top: 76px;
  margin-left: -229px;
}

.jumbotron-bottom {
  margin-top: 451px;
}

.description {
  padding-top: 55px;
  padding-bottom: 55px;;
  text-align: center;
}

.description-copy {
  padding: 0;
  margin-bottom: 0;
}

.headline-h1 {
  width: 500px;
  margin: 0 auto;
}

.main-service {
  display: flex;
  padding-top: 55px;
  padding-bottom: 82px;
}

.service-item {
  width: 400px;
  text-align: center;
}

.service-item h2 {
  padding-bottom: 9px;
  font-size: 21px;
}

.service-item::before {
  content: " ";
  display: block;
  width: 77px;
  height: 79px;
  background-image: url("../img/service_accommodation.png");
  background-repeat: no-repeat;
  margin: 0 auto;
  padding-bottom: 10px;
}

.food::before {
  background-image: url("../img/service_food.png");
}

.souvenirs::before {
  background-image: url("../img/service_souvenirs.png");
}

.main-service-headline {
  margin-bottom: 10px;
}

.features-blocks {
  display: flex;
}

.main-features-block {
  display: flex;
  text-align: center;
}

.main-features-item-reverse {
  order: 2;
  width: 400px;
}

.main-features-item-image-reverse {
  order: 1;
  height: 256px;
}

.main-features-item {
  width: 400px;
  background-color: #eeeeee;
}

.blue {
  background-color: #81b3d2;
  color: #fff;
}

.blue h2{
  color: #fff;
}

.main-features-item h2 {
  padding-bottom: 9px;
  font-size: 21px;
}

.main-features-item-reverse h2 {
  padding-bottom: 9px;
  font-size: 21px;
}

.main-features-item-image {
  width: 800px;
  height: 256px;
}

.main-headline {
  width: 150px;
  margin: 0 auto;
  padding-top: 54px;
  text-align: center;
}

.main-copy {
  margin: 0 auto;
  line-height: 21px;
}

.grey {
  padding-bottom: 52px;
}

.main-CTA {
  position: relative;
  box-sizing: border-box;
  margin-top: 30px;
}

.main-booking {
  display: flex;
  position: absolute;
  left: 50%;
  margin-left: -283px;
  padding-top: 30px;
  padding-bottom: 30px;
  justify-content: center;
  width: 566px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(7,0,15,0.15);
}

.main-CTA .main-headline {
  min-width: 400px;
  padding-top: 30px;
  padding-bottom: 23px;
  font-size: 30px;
}

.main-CTA .main-copy {
  width: 450px;
  margin: 0 auto;
  padding-bottom: 46px;
  text-align: center;
  line-height: 25px;
}

.main-booking-form-btn {
  display: block;
  width: 566px;
  color: #fff;
  margin: 0 auto;
  padding-top: 29px;
  padding-bottom: 29px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 21px;
  background-color: #766357;
}

.booking-form-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 100%;
}


.main-booking-form-find-btn {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 0;
  background-color: #81b3d2;
  color: #fff;
  cursor: pointer;
}

.main-map {
  height: 593px;
}

/* Catalog. Content */

.main-filter {
    min-height: 218px;
    background-image: url("../img/catalog_jumbotron.jpg");
    background-repeat: no-repeat;
  }

.filter-forms{
  display: flex;
  justify-content: space-between;
  color:#fff;
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 40px;
  padding-bottom: 40px;
}

.forms-headline {
  color: #fff;
  font-size: 16px;
  margin: 0;
}

.filter-forms-checkbox:nth-last-child() {
  margin-bottom: 0;
}

.checkbox-block {
  margin-bottom: 10px;
}

.no-margin {
  margin-bottom: 0;
}

.filter-forms-price {

}

.main-filter-ouptup {
  display: flex;
  align-items: center;
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 20px;
  padding-bottom: 20px;
  text-transform: uppercase;
}

.main-filter-ouptup ul {
  list-style-type: none;
}

.filter-ouptup-summary {
  font-size: 21px;
}

.filter-result-list-item {

}

.ouptup-summary-list {
  display: flex;
  font-size: 12px;
}

.ouptup-summary-list li{
  margin-right: 20px;
}

.ouptup-summary-list a{
  text-decoration: none;
}

.main-filter-result-list {
  padding-left: 6%;
  padding-right: 6%;
}

.list-item-details {
  display: inline-block;
}

.result-list-item-image {
  float: left;
  margin-right: 70px;
}

.result-list-item-details {
  float: left;
}

.details-headline {
  margin: 0;
}

.result-list-rating {
  float: right;
}

.clearfix:after {
  content:"";
  display:table;
  clear:both;
}

.filter-result-list-item {
  margin-bottom: 50px;
}


/* Main page + Catalog. Footer */

.main-footer {
  display: flex;
  position: absolute;
  left: 0;
  bottom: 0;
  padding-top: 50px;
  padding-bottom: 50px;
  background: rgba(255, 255, 255, 0.9);
}

.inner {
  position: static;
}

.footer-hashtag {
  width: 400px;
  text-align: center;
  text-transform: uppercase;
  font-size: 21px;
}

.footer-social {
  width: 400px;
  text-align: center;
}

.footer-copyright {
  width: 400px;
  text-align: center;
  text-transform: uppercase;
}

.footer-copyright a{
  display: inline-block;
  width: 113px;
  height: 39px;
  vertical-align: middle;
  background-image: url("../img/academy_logo_default.png");
  background-repeat: no-repeat;
}
