body {
  font-family: 'PT Sans', sans-serif;
  color: #000000;
  background-color: #f2f2f2;
  margin: 0;
}

h1 {
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 26px;
}

h2 {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 21px;
  color: #000000;
}

p {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 24px;
}

.container {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

/* Main page. Header */

.main-header {
  width: 1200px;
  margin: 0 auto;
}

.main-navigation-item {
  display: inline-block;
  width: 240px;
  vertical-align: middle;
}

.main-navigation-item:nth-child(2) {
  margin-right: 240px;
}

.navigation-items {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 0;
}

.navigation-items a {
  display: inline-block;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.main-header-logo {
  position: absolute;
  left: 50%;
  top: 0;
  display: block;
  width: 138px;
  margin-left: -69px;
}

/* Main page. Content */

.jumbotron {
  display: block;
  min-height: 508px;
  width: 1200px;
  background-image: url("../img/jumbotron_main.jpg");
  background-repeat: no-repeat;
}

.jumbotron-copy {
  position: absolute;
  left: 50%;
  margin-top: 76px;
  margin-left: -235px;
}

.jumbotron-bottom {
  margin-top: 453px;
}

.description {
  width: 100%;
  margin: 0 auto;
  padding-top: 70px;
  padding-bottom: 70px;
  text-align: center;
}

.headline-h1 {
  width: 500px;
  margin: 0 auto;
}

.main-service {
  display: flex;
  padding-top: 100px;
  padding-bottom: 100px;
}

.service-item {
  width: 400px;
  text-align: center;
}

.features-blocks {
  display: flex;
}

.main-features-block {
  display: flex;
  text-align: center;
}

.main-features-item-reverse {
  order: 2;
  width: 400px;
}

.main-features-item-image-reverse {
  order: 1;
  height: 256px;
}

.main-features-item {
  width: 400px;
  background-color: #eeeeee;
}

.blue {
  background-color: #81b3d2;
  color: #fff;
}

.blue h2{
  color: #fff;
}

.main-features-item-image {
  width: 800px;
  height: 256px;
}

.main-headline {
  margin: 0 auto;
  padding-top: 50px;
}

.main-copy {
  width: 300px;
  margin: 0 auto;
}

.main-CTA {
  margin-top: 30px;
}

.main-CTA .main-headline, .main-CTA .main-copy {
  text-align: center;
  width: 400px;
  margin: 0 auto;
}

.main-CTA .main-booking-form-btn {
  display: block;
  width: 400px;
  text-align: center;
  margin: 0 auto;
}

.main-booking {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.booking-form-block {
  display: flex;
  justify-content: space-between;
}

.main-map {
  height: 593px;
}

/* Catalog. Content */

.main-filter {
    min-height: 218px;
    background-image: url("../img/catalog_jumbotron.jpg");
    background-repeat: no-repeat;
  }

.filter-forms{
  display: flex;
  justify-content: space-around;
}

.main-filter-ouptup {
  display: flex;
  align-items: center;
}

.main-filter-ouptup ul {
  list-style-type: none;
}

.ouptup-summary-list {
  display: flex;
}

.main-filter-result-list {
  margin-bottom: 120px;
}

.filter-result-list-item {

}

.list-item-details {
  display: inline-block;
}

.result-list-item-image {
  float: left;
}

.result-list-item-details {
  float: left;
}

.result-list-rating {
  float: right;
}

.clearfix:after {
  content:"";
  display:table;
  clear:both;
}

.filter-result-list-item {
  margin-bottom: 50px;
}

/* Main page + Catalog. Footer */

.main-footer {
  display: flex;
  position: absolute;
  left: 0;
  bottom: 0;
  padding-top: 50px;
  padding-bottom: 50px;
  background: rgba(255, 255, 255, 0.9);
}

.inner {
  position:relative;
}

.footer-hashtag {
  width: 400px;
  text-align: center;
}

.footer-social {
  width: 400px;
  text-align: center;
}

.footer-copyright {
  width: 400px;
  text-align: center;
}
